.todoList {
  list-style: none;
  padding: 0;
}

.todoItem {
  border: 1px solid #ccc;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  background: #f9f9f9;
}
.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.update-form {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.update-form input {
  flex: 1;
  padding: 5px;
}

.update-form button {
  padding: 5px 10px;
}
